
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">HOMELICIOUS</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Find Food</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="gotoState(stateEnum.User)">User</a></li>
        <li><a (click)="gotoState(stateEnum.Food)">Food</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>


<section [ngSwitch]="state">
  <!-- User Management-->
  <div id="dashboard_users" class="container-fluid" *ngSwitchWhen="stateEnum.User" *ngSwitchDefault>
    <user-avatar *ngFor="#user of users" [user]="user"></user-avatar>
  </div>

  <!-- Food Management-->
  <div id="dashboard_dishes" class="container-fluid" *ngSwitchWhen="stateEnum.Food">
    <dish-list [dishes]="dishes"></dish-list>
  </div>
</section>
