<div class="admin-dashboard">
  <aside class="well">
    <admin-sidebar (stateSelected)="gotoState($event)"></admin-sidebar>
  </aside>

  <section [ngSwitch]="state">
    <!-- User Management-->
    <div id="dashboard_users" class="container-fluid" *ngSwitchWhen="stateEnum.Users" *ngSwitchDefault>
      <user-avatar *ngFor="#user of users" [user]="user"></user-avatar>
    </div>

    <!-- Food Management-->
    <div id="dashboard_dishes" class="container-fluid" *ngSwitchWhen="stateEnum.Dishes">
      <section class="dish_list">
  		  <dish-overview *ngFor="#dish of dishes" [dish]="dish" [onDelete]="onDelete()"></dish-overview>
  	  </section>
    </div>

  </section>
</div>
