.comment{
	display: flex;
	align-items: stretch;
}

article{
	border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
	margin-right: 0px;
    padding: 10px 20px;
    border-radius: 4px;
	background: #fff;
	color: #6b6e80;
}

aside img{
	object-fit: cover;
	object-position: center;
}

article header{
	font-size: 13px;
	color: #aaaaaa;
	padding-bottom: 8px;
	margin-bottom: 10px !important;
	border-bottom: 1px solid #eee;
}

aside{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 0.1 10%;
}

aside img{
	flex: 0.8 auto;
	width: 100px;
	height: 100px;
}

aside rating{
	flex: 0.2 auto;
	width: 100%;
}

article{
	flex: 0.9 90%;
}

article header{
	display: flex;
	justify-content: space-between;
}