.display {
    width: 100%;
    height: 400px;
    background: url("../images/search.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

search-input{
    margin: auto 0;
    width: 800px;
}

@media all and (max-width: 800px){
    search-input{
        flex: 1 0px;
        margin-left: 5%;
        margin-right: 5%;
    }
}