<div class="content center">
    <!-- Page Content -->
    <div class="container" *ngIf="item != null">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{item.name | Capitalize}}
                    <small>{{item.location}}</small>
                </h1>
            </div>
        </div>

        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" [src]="item.url" alt="{{item.name}}" />
            </div>

            <div class="col-md-4">
                <h3>Description</h3>
                <p>{{item.description}}</p>
                <h3>Categories</h3>
                <ul>
                    <li *ngFor="#category of item.categories">{{category}}</li>
                </ul>
                <section id="dish-add-to-order">
                    <aside>
                        <label for="dishorder-quantity" class="sr-only">Price</label>
                        <input #orderQuantity type="number" id="dishupload-price" class="form-control" value="1" required />
                    </aside>
                    <section>
                        <button id="dish-add-to-order-button" type="submit" (click)="order(orderQuantity.value)">Order</button>
                    </section>
                </section>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Comments</h3>
            </div>

            <div class="blog-comment">
                <dish-comment *ngFor="#comment of comments" [comment]="comment" [onDelete]="onDelete()"></dish-comment>
            </div>
            <div class="well well-sm">
                <div class="row" id="post-review-box">
                    <div class="col-md-12">
                            <input id="ratings-hidden" name="rating" type="hidden">
                            <textarea #commentInput class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Enter your review here..." rows="5"></textarea>

                            <div class="text-right">
                                <div class="rating-block">
                					<button *ngFor="#i of [0,1,2,3,4]" (click)="changeRating(i)" type="button" class="btn btn-sm" [ngClass]="{'btn-warning ': ratings[i]}" aria-label="Left Align">
                					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                					</button>
                				</div>
                                <button class="btn btn-success btn-lg" type="submit" (click)="comment(commentInput.value)">Save</button>
                            </div>
                    </div>
                </div>
            </div>
            <!-- <div class="comment-input">
            	<input #commentInput class="input" placeholder="Comment..."/>
            	<button >Submit</button>
            </div> -->

          <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Related Foods</h3>
            </div>
            <div class="related-result row">
                <div class="col-xs-12 col-sm-12 col-md-3" *ngFor="#post of related">
                    <a [routerLink]="['Details', {id: post.id}]" class="thumbnail">
                        <img [src]="post.url" alt="{{post.name}}" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
