<custom-header [cartVisible]="isCartOpen" [user]="getCurUser()" (cartToggle)="toggleCart($event); shadow.toggle($event); cart.toggle($event)"></custom-header>
<router-outlet></router-outlet>
<custom-footer></custom-footer>

<div id="shadow-layer" [ngClass]="{'is-visible': isCartOpen}" (click)="shadow.toggle(!isCartOpen); cart.toggle(!isCartOpen); toggleCart(!isCartOpen)" opacity-animator #shadow="opa-animator"></div>
<div id="cart" slide-right #cart="slide-pane">
	<ul>
		<li>ITEM 1</li>
		<li>ITEM 2</li>
	</ul>
</div>