/*
* Styling for footer
*/
#footer_wrapper{
    background-color: #222932;
    color: white;
}

.content{
    display: table;
    margin: auto;
}

img {
    height: 200px;
    width: 200px;
}

.title {
    font-size: 35px;
}

.text {
    margin-top: 20px;
    font-size: 20px;
    font-weight: lighter;
}

#footer_image_wrapper{
    text-align: center;
    width: 33%;
    vertical-align: middle;
    display:table-cell;
}

#footer_content_wrapper {
    width: 66%;
    vertical-align: middle;
    text-align: center;
    display:table-cell;
}

@media (max-width : 700px) {

    #footer_image_wrapper{
        display:none;
    }
    #footer_content_wrapper {
        padding: 0 5%;
    }

}