<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">HOMELICIOUS</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Find Food</a></li>
        <li><a href="#post-container">About</a></li>
      </ul>
      <div *ngIf="!curUser">
        <ul class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['UserLogin']">Login</a></li>
          <li><a [routerLink]="['UserSignup']">Sign Up</a></li>
        </ul>
      </div>
      <div *ngIf="curUser">
        <ul class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['UserProfile', {id: curUser.id}]">Hello! {{curUser.name}}</a></li>
          <li><a (click)="logOut()">Log Out</a></li>
        </ul>
      </div>
    </div><!--/.nav-collapse -->
  </div>
</nav>
