<ul>
	<li *ngFor="#link of links"><a [routerLink]="[link.name]">{{link.text}}</a></li>
	<li><a [routerLink]="['Search', {'query': '123'}]">Search Product</a></li>
	<li><a [routerLink]="['Details', {'id': '2'}]">Product Detail</a></li>	
	<li><a [routerLink]="['UserProfile', {'id': '10000'}]">User Profile</a></li>
	<li><a [routerLink]="['/Admin', 'AdminLogin']">Admin Login</a></li>
	<li><a [routerLink]="['/Admin', 'AdminManage']">Admin Manage (Click User/Food on the header to toggle panes)</a></li>
</ul>
