<div id="resetpassword-container">
	<section>
	<h1>Reset password</h1>
		<form id="resetpassword-form" (ngSubmit)="onReset(newpassword.value, confirmpassword.value)" #resetForm="ngForm">
	 		<label for="changepassword-new">New Password</label>
	 		<input #newpassword type="password" id="changepassword-new" class="form-control" placeholder="New Password" required />

	 		<label for="changepassword-confirm">Confirm Password</label>
	 		<input #confirmpassword type="password" id="changepassword-confirm" class="form-control" placeholder="Confirm Password" required/>

	 		<article class="alert alert-danger" *ngIf="(newpassword.value != confirmpassword.value)">
	 			Password Does Not Match
	 		</article>

	 		<button id="changepassword-btn" type="submit" class="btn btn-primary btn-block" [disabled]="!resetForm.form.valid || (newpassword.value != confirmpassword.value)">Reset</button>
		</form>
	</section>
</div>