<div id="footer_wrapper">
    <div class="content">
        <div id="footer_image_wrapper">
            <img src="images/footer_image.png" alt="footer_image"/>
        </div>
        <div id="footer_content_wrapper">
            <div class="title">
                About Us
            </div>
            <div class="text">
                Homelicious streamlines the communication between culinarians and consumers in search of catering. There is currently nothing like this in the market and we see value in bridging this gap.
            </div>
            <br />
            <div class="text">
                Site designed and implemented by Jay, Fraser, Kile, Wendy. CopyRight 2016.
            </div>
        </div>
    </div>
</div>
