
<div id="changepassword-container">

<form id="changepassword-form" (ngSubmit)="onChange(oldpassword.value, newpassword.value, confirmpassword.value)" #uploadForm="ngForm">
 		Old Password:<br>
 		<label for="changepassword-name" class="sr-only">Old Password</label>
 		<input #oldpassword type="text" id="changepassword-old" class="form-control" placeholder="Old Password"  required autofocus />

 		<br>New Password:<br>
 		<label for="changepassword-email" class="sr-only">New Password</label>
 		<input #newpassword type="text" id="changepassword-new" class="form-control" placeholder="New Password" required />

 		<br>Confirm Password:<br>
 		<label for="changepassword-phonenum" class="sr-only">Confirm Password</label>
 		<input #confirmpassword type="text" id="changepassword-confirm" class="form-control" placeholder="Confirmpassword" required />

 		<br>
 		<button id="changepassword-btn" type="submit">Update</button>

</form>
</div>