<div class="container-fluid dashboard_addfriends">
  <div id="search-friend">
    <input #addfriendInput class="input" placeholder="Username..."/>
    <button (click)="search(addfriendInput.value)"><i class="fa fa-search"></i></button>
  </div>
  <section class="result_list">
    <div class= "user_info" *ngFor="#result of results">
    	<img class="img-circle" [src]="result?.friend.avatar_url" />
    	<p>{{result?.friend.name}}</p>
    	<button *ngIf='!result.success && !result.submitted' (click)="add(result)">Add</button>
    	<button  *ngIf='result.success && result.submitted' (click)="add(result)" style="background-color: green">Success</button>
    	<button  *ngIf='!result.success && result.submitted' (click)="add(result)" style='background-color: red'>Fail</button>
    	<hr>
    </div>
    </section>
    <br>
</div>