
<div id="changepassword-container">

<form id="changepassword-form" (ngSubmit)="onChange(newpassword.value, confirmpassword.value)" #uploadForm="ngForm">

 		<br>New Password:<br>
 		<label for="changepassword-email" class="sr-only">New Password</label>
 		<input #newpassword type="password" id="changepassword-new" class="form-control" placeholder="New Password" required />

 		<br>Confirm Password:<br>
 		<label for="changepassword-phonenum" class="sr-only">Confirm Password</label>
 		<input #confirmpassword type="password" id="changepassword-confirm" class="form-control" placeholder="Confirm Password" required />

 		<br>
 		<button id="changepassword-btn" type="submit">Update</button>

</form>
</div>