.profile {
  margin: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

.add-new-food{
	text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-left:7%;
    width: 150px;
    border-right: solid;
    border-right-color: #555;

    position:absolute;
}

.sidebar li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.sidebar li a:hover {
    background-color: #555;
    color: white;
}

.sidebar li a.active {
    background-color: #777;
    color: white;
}

.dashboard_friends{
  margin: 5%;
}


article.dashboard_friends h1{
	text-align: center;
}

.friends_list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}

.friends_list{

}


