.dish_list{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
}

.add-friend h1{
	text-align: center;

}

.add-friend{
	display: flex;
	flex-direction: column;
	
}

#search-friend{
	margin: 0 auto;
}

input {
    border: none;
    border-bottom: rgba(0, 0, 0, 0.4) 1px solid;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #6b6b70;
    flex: 1 0px;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
}

button {
    width: 200px;
    height: 60px;
    font-size: 20px;
    background-color: #b2bd0d;
    color: white;
    border: none;
    font-family: 'Lato', sans-serif;

}

.dashboard_friends{
  margin: 5%;
  margin-left: 20%;
  margin-right: 20%;
}


article.dashboard_friends h1{
	text-align: center;
}

.friends_list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}

