input {
    border: none;
    border-bottom: rgba(0, 0, 0, 0.4) 1px solid;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #6b6b70;
    flex: 1 0px;
    padding: 10px;
    height: 30px;
    margin-right: 10px;
    text-align: left;
    width: 80%;
}

button {
    width: 15%;
    height: 30px;
    font-size: 20px;
    background-color: #337ab7;;
    color: white;
    border: none;
    font-family: 'Lato', sans-serif;

}

.dashboard_friends {
    margin: 3%;
    width: 97%;
    min-height: 100%;
}

.dashboard_friends h1{
    text-align: center;
}



.friends_list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
    
}

