<div class="container-fluid dashboard_orders">
  <h1>My Order</h1>
  <section class="orders_list">
    <div class='order_info' *ngFor="#order of orders">
    <h2>Order {{order.num}}</h2>
    <p><i class="fa fa-truck"></i>  Address: {{order.address}}</p>
    <article class='dish_overview' *ngFor='#dish of order?.dishes'>

    <div class="dish_image">
            <img class="thumbnail img-responsive" [src]="dish?.dish.url" alt="{{dish?.name}}" />
    </div>
    <div class="dish_tags">
        <ul>
            <li>
                <i class="glyphicon glyphicon-home"></i>
                <span>{{dish?.dish.location}}</span>
            </li>
            <li *ngFor="#category of dish?.dish.categories">
                <i class="glyphicon glyphicon-tags"></i>
                <span >{{category}}</span>
            </li>
        </ul>
    </div>
    <div class="dish_description">
        <h3>Dish Name: {{dish?.dish.name}}</h3>
        <p>Dish Description: {{dish?.dish.description}}</p>
        <p>Quantity: {{dish?.quantity}}</p>
    </div>

    </article>
    <hr>
    </div>
    </section>
</div>
